## Preamble

### Are You in the Right Place?

The following is part of a multi-part introduction to data science for those in the legal profession. The full collection of materials can be found on the Suffolk LIT Lab's How To page under the heading [Demystify Data Science](http://suffolklitlab.org/howto/#demystified). If you've followed the instructions found at [Codifying Gut Decisions](http://suffolklitlab.org/howto/demystified/4/), you should have this notebook running as opposed to viewing a preview. That means that you can run the code fond below, not to mention, read and write files to your own copy of this library.

### A Quick Test/How To
To run the code in a given cell (one of the gray boxes), make sure that it has focus (i.e., is highlighted by a bounding box), then click the "Run" button in the menu above. Alternatively, you can press `Shift+Enter`. To give a cell focus, just click on the cell. Lets give it a try. **Run the cell below.**

In [64]:
print("Yay! It worked.")

Yay! It worked.

If the text "Yay! It worked." appeared after the cell, it worked. Yay! FYI, you are welcome to join the LIT Lab's Slack Team. There you can ask and answer questions relating to this lesson under the [#howto-datasci](https://suffolklitlab.slack.com/messages/CAKMYBRL0/) channel. See the Lab's [How To](file:///H:/LITLab/SuffolkLITLab.github.io/howto/) for more. That being said, let's get to the main course. 

As you come upon cells, run them. FYI, the text blocks are actual cells too. So it's perfectly reasonable to press `Shift+Enter` to move your way down the page. If you want to see how we format text, double click on one of the text blocks and you'll see something called [markdown](https://en.wikipedia.org/wiki/Markdown). You can set a cell to "Code" or "Markdown" in a pulldown menu above. We're not going to do anything with Markdown here, but I thought you'd like to know. Anywho, to convert the Markdown back to text, just run the cell.

# The Classifier Challenge.

First, let's load Pandas.

In [69]:
import pandas as pd

Now for the good stuff. The law firm of Dewey Cheatem and Howe is a medium sized personal injury firm, and they've provided you with two data files (people.csv and calls.csv).

In [66]:
# Note: you may need to edit the code below to deal with dates and the like. 

people = pd.read_csv('people.csv') 
calls = pd.read_csv('calls.csv') 

display(people.head())
display(calls.head())


single_table = people.merge(calls) 
print ("row count:",len(single_table))
single_table.head()

   Unnamed: 0  person_id            name     sex date of birth
0           0        100  Penelope Lewis  female    1990-08-31
1           1        101   David Anthony    male    1971-10-14
2           2        102       Ida Shipp  female    1962-05-24
3           3        103    Joanna Moore  female    2017-03-10
4           4        104  Lisandra Ortiz  female    2020-08-05

,Unnamed: 0,call_id,person_ID,Referal Soure,attorney,body_part_1,body_part_2,body_part_3,body_part_4,body_part_5,surgery,injury_date,intake,take
0,0,136,100,Facebook,Patty Hewes,Head,NaN,NaN,NaN,NaN,yes,2015-11-27,2017-02-06,no
1,1,137,101,referal,Patty Hewes,hands,elbow,NaN,NaN,NaN,yes,2014-06-30,2017-02-07,No
2,2,138,102,NaN,Rachel Zane,hip,arm,foot/feet,NaN,NaN,NO,2016-04-22,2017-02-07,no
3,3,139,103,Google,Perry Mason,EYE,ankle,NaN,NaN,NaN,no,2015-08-12,2017-02-08,yes
4,4,140,104,website,Rusty Sabich,neck,NaN,NaN,NaN,NaN,YES,2016-12-28,2017-02-09,no

row count: 100000

,Unnamed: 0,person_id,name,sex,date of birth,call_id,person_ID,Referal Soure,attorney,body_part_1,body_part_2,body_part_3,body_part_4,body_part_5,surgery,injury_date,intake,take
0,0,100,Penelope Lewis,female,1990-08-31,136,100,Facebook,Patty Hewes,Head,NaN,NaN,NaN,NaN,yes,2015-11-27,2017-02-06,no
1,1,101,David Anthony,male,1971-10-14,137,101,referal,Patty Hewes,hands,elbow,NaN,NaN,NaN,yes,2014-06-30,2017-02-07,No
2,2,102,Ida Shipp,female,1962-05-24,138,102,NaN,Rachel Zane,hip,arm,foot/feet,NaN,NaN,NO,2016-04-22,2017-02-07,no
3,3,103,Joanna Moore,female,2017-03-10,139,103,Google,Perry Mason,EYE,ankle,NaN,NaN,NaN,no,2015-08-12,2017-02-08,yes
4,4,104,Lisandra Ortiz,female,2020-08-05,140,104,website,Rusty Sabich,neck,NaN,NaN,NaN,NaN,YES,2016-12-28,2017-02-09,no

These files contain info on potential client calls, including info about the callers and whether or not the firm took the case (this last bit is in the column "take"). This challenge is called Codifying Gut Decisions beacue the decision to take a case is one the firm currently makes based on a gut feeling. You're job is to turn that process into an algorithm.

Your mission should you choose to accept it: (1) clean the data; (2) do some feature engineering if you think it's needed; and (3) train a classifier that predicts if the firm will take a case. That is, predict when the `take` column would have a "yes" in it. 

I'll give an "prize" to the person who can build the best classifier (**Lab students only**), where the best is defined as the classifier with the highest F1 score when run on a set of new data that your model wasn't trained on. Namely, this data:

In [67]:
# Note: you may need to edit the code below to deal with dates and the like. 
# Also, there is no `take` column since that's what you're trying to predict. ;)

people_comp = pd.read_csv('z_people.csv') 
calls_comp = pd.read_csv('z_calls.csv') 

display(people_comp.head())
display(calls_comp.head())

single_table = people_comp.merge(calls_comp) 
print ("row count:",len(single_table))
single_table.head()

   Unnamed: 0  person_id           name     sex date of birth
0           0        100    Jerry Filer    male    1999-06-29
1           1        101  Richard Myers    male    1965-11-26
2           2        102    Mable Bacon  female    1956-06-19
3           3        103   Debbie Harty  female    2024-02-23
4           4        104   Shirley Pena  female    2040-07-25

,Unnamed: 0,call_id,person_ID,Referal Soure,attorney,body_part_1,body_part_2,body_part_3,body_part_4,body_part_5,surgery,injury_date,intake
0,0,136,100,website,Atticus Finch,hand,Neck,NaN,NaN,NaN,no,2016-11-11,2017-05-22
1,1,137,101,referal,Perry Mason,Neck,NaN,NaN,NaN,NaN,yes,2015-05-09,2017-05-22
2,2,138,102,website,Rachel Zane,ankle,neck,hip,NaN,NaN,no,2016-11-10,2017-05-22
3,3,139,103,Other,Rusty Sabich,arm,NaN,NaN,NaN,NaN,no,2015-04-09,2017-05-22
4,4,140,104,NaN,NaN,neck,NaN,NaN,NaN,NaN,yes,2014-08-15,2017-05-23

row count: 1000

,Unnamed: 0,person_id,name,sex,date of birth,call_id,person_ID,Referal Soure,attorney,body_part_1,body_part_2,body_part_3,body_part_4,body_part_5,surgery,injury_date,intake
0,0,100,Jerry Filer,male,1999-06-29,136,100,website,Atticus Finch,hand,Neck,NaN,NaN,NaN,no,2016-11-11,2017-05-22
1,1,101,Richard Myers,male,1965-11-26,137,101,referal,Perry Mason,Neck,NaN,NaN,NaN,NaN,yes,2015-05-09,2017-05-22
2,2,102,Mable Bacon,female,1956-06-19,138,102,website,Rachel Zane,ankle,neck,hip,NaN,NaN,no,2016-11-10,2017-05-22
3,3,103,Debbie Harty,female,2024-02-23,139,103,Other,Rusty Sabich,arm,NaN,NaN,NaN,NaN,no,2015-04-09,2017-05-22
4,4,104,Shirley Pena,female,2040-07-25,140,104,NaN,NaN,neck,NaN,NaN,NaN,NaN,yes,2014-08-15,2017-05-23

Your models may use different features than your peer's. So to score your model I'll be asking you to provide a simple list of `call_id`s where your model predicts if the firm will take the case. That is, for the new data, provide a list of the cases you think the firm would take. This list should have each call_id seperated by a comma, and you can submit them here:

https://docs.google.com/forms/d/e/1FAIpQLSemwYALjIlwluyd1JgY3tMgBK1Pz2kFyy5DnqGrgRDuhx7jPQ/viewform

**Hint:** If you want to turn the column from a dataframe into a comma-seperated list, you can use the following syntax:

In [68]:
calls_comp["call_id"].tolist()

[136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135]

Have fun, and good luck. Who knows, maybe you'll walk away with this sweet certificate of achievement.

![certificate of achievement](http://suffolklitlab.org/howto/demystified/images/certificate_w_placeholder.png)